<h1 class="center">Error {{this.code}}</h1>
<br />
<p class="center"> {{this.error}}</p>
<p class="center"><i>{{this.message}}</i></p>
<br />
<div class="center">
  <button onclick="goBack()">Volver a la página anterior</button>
</div>

<script src="/js/error.js"></script>